@charset "UTF-8";
/*fonts*/
@font-face {
	font-family: 'Cantarell';
	src: url('../src/fonts/Cantarell-Bold-webfont.eot');
	src: url('../src/fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../src/fonts/Cantarell-Regular-webfont.woff') format('woff'), url('../src/fonts/Cantarell-Regular-webfont.ttf') format('truetype'), url('../src/fonts/Cantarell-Regular-webfont.svg#webfont9UOzsjXz') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cantarell';
	src: url('../src/fonts/Cantarell-Oblique-webfont.eot');
	src: url('../src/fonts/Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'), url('../src/fonts/Cantarell-Oblique-webfont.woff') format('woff'), url('../src/fonts/Cantarell-Oblique-webfont.ttf') format('truetype'), url('../src/fonts/Cantarell-Oblique-webfont.svg#webfontRl4nowrT') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cantarell';
	src: url('../src/fonts/Cantarell-Bold-webfont.eot');
	src: url('../src/fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../src/fonts/Cantarell-Bold-webfont.woff') format('woff'), url('../src/fonts/Cantarell-Bold-webfont.ttf') format('truetype'), url('../src/fonts/Cantarell-Bold-webfont.svg#webfontKr2CkGZp') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cantarell';
	src: url('../src/fonts/Cantarell-BoldOblique-webfont.eot');
	src: url('../src/fonts/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'), url('../src/fonts/Cantarell-BoldOblique-webfont.woff') format('woff'), url('../src/fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'), url('../src/fonts/Cantarell-BoldOblique-webfont.svg#webfontQ1aSR0ux') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Cardo";
	src: url("../src/fonts/Cardo99s-webfont.eot");
	src: url("../src/fonts/Cardo99s-webfont.eot?#iefix") format("embedded-opentype"), url("../src/fonts/Cardo99s-webfont.woff") format("woff"), url("../src/fonts/Cardo99s-webfont.ttf") format("truetype"), url("../src/fonts/Cardo99s-webfont.svg#webfontQ5EXXZTZ") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OstrichSansBold';
	src: url('../src/fonts/ostrich-bold-webfont.eot');
	src: url('../src/fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../src/fonts/ostrich-bold-webfont.woff') format('woff'), url('../src/fonts/ostrich-bold-webfont.ttf') format('truetype'), url('../src/fonts/ostrich-bold-webfont.svg#OstrichSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*limited reset*/

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* html5 display rule*/

address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
}

pre[class*="language-javascript"] {
	background: rgb(245, 242, 240);
	width: 50%;
	padding: 20px;
}

.software-page{
	text-align: center;
	padding: 15px;
}

a {
	text-decoration: none;
	color: #738976;
}

body {
	font: 100% Cantarell, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	position: relative;
	background: #fff;
	color: rgb(76, 67, 65);
	font-weight: normal;
	font-style: normal;
}

#mainNav h2 {
	display: none;
}

nav ul {
	list-style: none;
}

/*header styles*/

header {
	background: rgb(100, 98, 102);
	width: 100%;
	padding-top: 1px;
	overflow: hidden;
	margin-bottom: 0px;
}

header h1 {
	color: #fff;
	font-weight: bold;
	background: url(./images/hlogo.png) no-repeat left top ;
	text-transform: uppercase;
}

header h3{
	background: url(./images/hlogo.png) no-repeat ;
}
.header-social-icons{
	text-decoration: none !important;
	padding: 10px;
  }
#header-icon{
	padding-right:3px;
    text-decoration:none;
}
.header-str-connect{
	margin-left:10px;
	text-align:left;
	padding-Right:0.2vh;
	float:left;
	color:rgb(3, 176, 176);
}

.header-greet{
	margin-right:10px;
	text-align:right;
	padding-top:3px;
	color:rgb(3, 176, 176);
}
.header-greet-divider{
	color:black;
	font-weight:light;
}
.header-logout-link{
	color:rgb(3, 176, 176);
	padding-left:5px;
	border:none;
}
.header-background{
	background-color:#E1E2E2;
	padding-top:5px;
}

.header-links{
	float:right;
	display:inline;
}
span.header-title{
	color: #d4e7a5;
	font-size: 10vh;
  }
/*nav styles*/

#mainNav {
	overflow: hidden;
	margin: 0%;
	padding: 10px;
	background-image: url("./images/hb3.png");
	background-position: center;
	background-size: cover;
}


/* https://assets.codepen.io/296057/lil-graydots.png */

#mainNav li {
	float: left;
}

#mainNav a {
	text-transform: uppercase;
	display: block;
	color: rgb(76, 67, 65);
	border: none;
}

#mainNav li:hover {
	color: rgb(123, 121, 143);
}

#mainNav a.current {
	color: rgb(74, 70, 115);
	cursor: default;
}

/*banner styles*/

.banner h1 {
	text-transform: uppercase;
}

/*article styles*/

article section {
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-bottom: 2em;
}

article h1 {
	font: 1.8em Cardo, Georgia, serif;
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-bottom: 1.0em;
}

article h2 a {
	color: rgb(76, 67, 65);
	border: none;
}

article h2 a:hover {
	color: rgb(123, 121, 143);
	border: none;
}

.preview a, .preview a:hover {
	display: block;
	border: none;
}

/*gallery styles*/

#gallery {
	margin-top: 2em;
}

#gallery h1 {
	background: none;
	padding: 0;
	border: none;
	margin: 0;
}

.intro p {
	font-size: 1em;
	margin: 0 0 1em;
}

/*contact styles*/

#contact h1 {
	background-position: right -250px;
}

#contact h2 {
	font-size: 1.4em;
}

#contact h3 {
	font-size: 1em;
	border-bottom: 1px solid rgb(76, 67, 65);
	margin: 1em 0 .5em;
}

#contact ul {
	list-style: none;
}

#contact ul li {
	margin-bottom: 1em;
	width: 225px;
}

#contact li a {
	color: rgb(76, 67, 65);
	border: none;
	padding-left: 40px;
	line-height: 50px;
	font-size: 1.2em;
	display: block;
}

#contact li a:hover {
	color: rgb(123, 121, 143);
}

/*form styles*/

fieldset {
	border: none;
	background: rgb(237, 228, 214);
	position: relative;
	width: 80%;
	min-width: 300px;
	padding: 1em;
	margin: 1em 0;
	-webkit-border-radius: 0 .5em .5em 0;
	-moz-border-radius: 0 .5em .5em 0;
	border-radius: 0 .5em .5em 0;
	-ms-border-radius: 0 .5em .5em 0;
	-o-border-radius: 0 .5em .5em 0;
}

fieldset:before {
	content: attr(title);
	display: block;
	font: 1.2em Cantarell, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid rgb(76, 67, 65);
	width: 80%;
}

legend {
	position: absolute;
	top: 0;
	left: -2000em;
}

fieldset p {
	font: .8em Cantarell, Arial, Helvetica, sans-serif;
	margin: 1em 0 0;
	font-style: italic;
}

label {
	display: block;
	font-size: 1em;
	margin: .8em 0 0;
}

input[type="text"], input[type="email"], input[type="url"], textarea {
	width: 250px;
}

input[type="submit"] {
	display: block;
	margin: 1em 0;
	color: black;
	background-color: #FAB70F;
}

.inline {
	display: inline;
}

fieldset div {
	width: 250px;
}

/*aside styles*/

aside h2 {
	font-family: Cardo, Georgia, serif;
}

/*footer styles*/

#pageFooter {
	background: rgb(173, 169, 130);
	padding-top: 1.5em;
	margin-top: 5vh;
}

#pageFooter input[type="search"] {
	width: 200px;
}

#pageFooter label {
	display: block;
	font-size: 1.2em;
	text-transform: uppercase
}

#pageFooter a {
	display: block;
	height: 100px;
	line-height: 100px;
	border: none;
	color: rgb(76, 67, 65);
	padding-left: 95px;
	background: url(./images1/tweet_90.png) no-repeat;
}

/*mobile styles*/

@media only screen and (max-width:480px) {
	/*disable text sizing on orientation change*/
	html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
		-webkit-text-size-adjust: none;
	}
	body {
		width: 90%;
		margin: 0 auto;
		min-width: 320px;
		max-width: 480px;
	}
	#mainNav a.hamburger, #mainNav a.close {
		font-size: 2rem;
		color: #00bff3;
	}
	/*header styles*/
	header {
		height: 70px;
	}
	header h1 {
		font-size: 2em;
		padding-left: 55px;
		line-height: 70px;
		width: 190px;
		margin: 0 auto;
		background: url(./images1/desolve_logo_50.png) no-repeat left center;
	}
	header h2 {
		display: none;
	}
	/*nav styles*/
	#mainNav {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 3em;
	}
	#mainNav li {
		margin-right: 5%;
	}
	#mainNav li:last-child {
		margin-right: 0;
	}
	#mainNav a {
		font-size: .9em;
		text-align: center;
		padding-bottom: 50px;
	}
	#mainNav a em {
		display: none;
	}
	/*banner styles*/
	.banner {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 2.4em;
	}
	.banner h1 {
		font-weight: bold;
		font-size: 1em;
		text-align: center;
		margin-bottom: .5em;
	}
	.banner p {
		width: 90%;
		font-size: .8em;
		margin: 0 auto;
		line-height: 2;
	}
	/* article styles */
	article {
		width: 90%;
		margin: 0 auto;
	}
	article section {
		border-bottom: 2px solid rgb(76, 67, 65);
		margin-bottom: 1.6em;
		overflow: hidden;
		position: relative;
		padding-bottom: 20px;
	}
	article h1 {
		background: url(./images1/icon_sprites_50.png) no-repeat right top;
		padding: 20px 0 5px;
	}
	article h2 {
		font: 2em Cardo, Georgia, serif;
		margin-bottom: 0;
	}
	.caption {
		font-size: .8em;
		margin-top: 1em;
	}
	article p.pubdate {
		font-size: 1em;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	article .preview {
		height: 175px;
	}
	/*gallery styles*/
	#gallery h1 {
		font: 4em OstrichSansBold;
		font-weight: normal;
		font-style: normal;
		text-transform: uppercase;
		text-align: center;
		color: rgb(123, 121, 143);
	}
	.intro {
		height: 155px;
		overflow: hidden;
		margin-bottom: 2em;
	}
	.nonTouch:hover, .hover_effect {
		height: auto;
		overflow: visible;
	}
	.intro .more:after {
		content: "read more";
		border: 1px solid #999;
		position: relative;
		display: block;
		margin: 2em 0;
		color: rgb(76, 67, 65);
		width: 6em;
		height: 1.4em;
		line-height: 1.4em;
		text-align: center;
		padding: .2em;
		-webkit-border-radius: .5em;
		-moz-border-radius: .5em;
		border-radius: .5em;
		background: rgb(226, 226, 226);
		background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(50%, rgba(219, 219, 219, 1)), color-stop(51%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
		/* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
		/* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
		/* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
		/* IE6-9 */
		background: linear-gradient(to-top, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
		/* W3C */
		margin: 1em 0 1.5em;
	}
	.nonTouch:hover .more:after, .hover_effect .more:after {
		content: normal;
		display: none;
	}
	.intro p {
		font-size: .8em;
		margin: 0 0 1em;
	}
	.photos img {
		width: 90%;
		margin: 0 auto;
		display: block;
		margin-bottom: .8em;
	}
	/*aside styles*/
	aside {
		width: 90%;
		margin: 0 auto;
	}
	aside section {
		clear: both;
	}
	aside h2 {
		font-size: 1.6em;
		margin: 1em 0 .8em;
		padding-top: .8em;
		border-top: 2px solid rgb(76, 67, 65);
		text-align: center;
	}
	aside nav h2 {
		border: none;
		padding-top: 0;
	}
	aside nav {
		margin-bottom: 2em;
	}
	aside nav ul {
		display: none;
	}
	nav select {
		width: 200px;
		margin-left: 20%;
	}
	.contest img {
		display: block;
		margin: 0 auto .8em;
	}
	.contest p {
		font-size: .9em;
		margin: 0 auto;
		margin-bottom: 1.5em;
		width: 80%;
		line-height: 1.5;
	}
	/*footer styles*/
	#pageFooter {
		clear: both;
		overflow: hidden;
		padding-bottom: 2em;
	}
	#pageFooter form {
		width: 90%;
		margin: 0 auto 1em;
	}
	.notice {
		width: 300px;
	}
	#pageFooter p {
		margin-left: 5%;
	}
}
/*tablet styles*/

@media only screen and (min-width:481px) and (max-width:768px) {
	body {
		width: 90%;
		margin: 0 auto;
		min-width: 500px;
		max-width: 768px;
	}
	/*header styles*/
	header {
		height: 165px;
	}
	header h1 {
		font-size: 3.2em;
		padding-left: 110px;
		line-height: 165px;
		width: 270px;
		margin: 0 auto;
	}
	header h2 {
		display: none;
	}
	/*nav styles*/
	#mainNav {
		width: 450px;
		margin: 0 auto;
	}
	#mainNav li {
		margin-right: 10%;
	}
	#mainNav li:last-child {
		margin-right: 0;
	}
	#mainNav a {
		font-size: 1.2em;
		text-align: center;
		padding-bottom: 40px;
	}
	#mainNav a em {
		display: none;
	}
	/*banner styles*/
	.banner {
		padding-left: 3.9%;
		overflow: hidden;
		background: url(./images/barner.jpeg) center no-repeat;
		background-size: cover;
		margin-bottom: 3em;
		margin-top: 0;
		position: relative
	}
	.banner h1 {
		font-weight: bold;
		font-size: 2.1em;
		color: #fff;
		letter-spacing: .1em;
		text-align: center;
		margin-top: 1em;
	}
	.banner p {
		color: #fff;
		width: 80%;
		margin: 0 auto;
		margin-top: 220px;
	}
	/* article styles */
	article {
		width: 92.2%;
		padding: 0 3.9%;
	}
	article section {
		border-bottom: 2px solid rgb(76, 67, 65);
		margin-bottom: 1.6em;
		overflow: hidden;
		position: relative;
		padding-bottom: 1.6em;
	}
	article h1 {
		padding: 20px 0 5px;
	}
	article h2 {
		font: 2.4em Cardo, Georgia, serif;
		float: left;
		clear: left;
		margin-bottom: 0;
		width: 40%;
	}
	article p {
		font-size: 1em;
		margin: 0;
		float: left;
		clear: left;
		width: 40%
	}
	article p.pubdate {
		font-size: 1em;
		text-transform: uppercase;
		float: left;
		clear: left;
		margin: 0 0 4em;
		width: 40%;
	}
	article .preview {
		height: 175px;
		position: absolute;
		top: 0;
		right: 0;
		width: 55%;
	}
	/*gallery styles*/
	#gallery h1 {
		font: 6.2em OstrichSansBold;
		font-weight: normal;
		font-style: normal;
		text-transform: uppercase;
		color: rgba(123, 121, 143, .8);
		text-shadow: 0 -.1em .02em rgba(226, 100, 100, .6), 0 .1em .02em rgba(102, 151, 188, .6);
	}
	.intro p {
		font-size: .8em;
		margin: 0 0 1em;
		float: none;
		clear: none;
		width: auto;
	}
	.intro {
		-moz-column-count: 2;
		-moz-column-gap: .5em;
		-webkit-column-count: 2;
		-webkit-column-gap: .5em;
		column-count: 2;
		column-gap: .5em;
		margin-bottom: 2em;
	}
	.photos {
		-moz-column-count: 2;
		-moz-column-gap: .5em;
		-webkit-column-count: 2;
		-webkit-column-gap: .5em;
		column-count: 2;
		column-gap: .5em;
		margin-bottom: 2em;
	}
	.photos img {
		width: 100%;
		margin-bottom: .5em;
	}
	/*aside styles*/
	aside {
		width: 92.2%;
		padding: 0 3.9%;
	}
	aside section {
		clear: both;
	}
	aside h2 {
		font-size: 1.2em;
		margin-bottom: 1em;
		border-top: 2px solid rgb(76, 67, 65);
		padding-top: .8em;
	}
	aside nav h2 {
		float: left;
		margin-right: 1em;
		font-size: 1.6em;
		border: none;
		padding-top: 0;
	}
	aside nav {
		margin-bottom: 2em;
	}
	aside nav ul {
		display: none;
	}
	nav select {
		float: left;
		margin-top: 1em;
		width: 200px;
	}
	.contest img {
		float: left;
		margin-bottom: 1em;
		margin-right: 1em;
	}
	.contest p {
		font-size: .9em;
		margin-bottom: 1.5em;
		width: 85%;
		line-height: 2;
	}
	.enter a {
		clear: both;
		display: block;
	}
	/*footer styles*/
	#pageFooter {
		clear: both;
		overflow: hidden;
		height: 150px;
	}
	#pageFooter form {
		float: left;
		margin-left: 3.9%;
		display: inline;
	}
	.notice {
		width: 300px;
	}
	#pageFooter p {
		float: right;
		clear: right;
		margin-right: 3.9%;
		text-align: right;
	}
}

/*desktop styles*/
@media only screen and (min-width:769px) {
	body {
		width: 90%;
		margin: 0 auto;
		min-width: 1024px;
		max-width: 1280px;
		background-color: rgba(216, 226, 243, .2);
		height: inherit;
	}
	nav {
		padding: 0;
		position: static;
		height: auto;
		transform: translateY(0);
	}
	.hamburger, .close {
		display: none;
	}
	nav ul {
		flex-flow: row wrap;
		justify-content: center;
	}
	#pageFooter {
		padding-bottom: 50px;
	}
	#pageFooter label {
		display: block;
		font-size: 1.2em;
		text-transform: uppercase;
	}
	#pageFooter a {
		display: block;
		height: 100px;
		line-height: 100px;
		border: none;
		color: rgb(76, 67, 65);
		padding-left: 95px;
		background: url(./images1/tweet_90.png) no-repeat;
	}
	/*header styles*/
	header {
		height: 165px;
	}
	header h1 {
		font-size: 3.2em;
		padding-left: 110px;
		line-height: 100px;
		line-height: 165px;
		margin-right: .5em;
		float: left;
		margin-left: 3.9%;
		/* fixes nasty 1px header fitting problem*/
		display: inline;
	}
	header h2 {
		font-family: Cantarell, Arial, Helvetica, sans-serif;
		font-style: italic;
		font-weight: normal;
		font-size: 1.4em;
		color: #fff;
		float: left;
		text-transform: lowercase;
		letter-spacing: .1em;
		line-height: 165px;
	}
	/*nav styles*/
	#mainNav {
		padding-left: 3.9%;
	}
	#mainNav li {
		margin-right: 3.6em;
	}
	#mainNav a {
		font-size: 1.2em;
		text-align: center;
		padding-left: 15px;
	}
	#mainNav a em {
		color: rgb(76, 67, 65);
	}
	#mainNav em {
		font-size: .8em;
		display: block;
		text-transform: lowercase;
	}
	/*banner styles*/
	.banner {
		height: 350px;
		padding-left: 3.9%;
		overflow: hidden;
		background: url(./images/barner.jpeg) center no-repeat;
		background-size: cover;
		background-position: center;
		margin-bottom: 4em;
		position: relative;
	}
	.banner h1 {
		font-size: 2.2em;
		color: #fff;
		padding-top: 290px;
		letter-spacing: .1em;
	}
	.banner p {
		width: 21%;
		padding: 1% 1% 0;
		height: 350px;
		font-size: 1em;
		color: #fff;
		background: rgba(158, 184, 193, 0.8);
		position: absolute;
		top: 0;
		right: 0;
	}
	/* article styles */
	article {
		float: left;
		width: 70.1%;
		padding-left: 3.9%;
	}
	article section {
		border-bottom: 2px solid rgb(76, 67, 65);
		margin-bottom: 2em;
	}
	article h1 {
		padding: 20px 0 5px;
	}
	.icon {
		padding: -30px 5px 20px;
	}
	.news h2 {
		font: 1.8em Cardo, Georgia, serif;
		font-weight: 600;
		float: left;
		margin-bottom: .1em;
	}
	.news a {
		color: #738976;
	}
	.news p {
		font-size: 1.1em;
		margin: .5em 0;
	}
	article p.pubdate {
		font-size: 1.2em;
		text-transform: uppercase;
		float: right;
		padding-top: .8em;
		margin-bottom: 20px;
	}
	.date-time {
		color: #6c757d;
	}
	.comment-date-time{
		color: #6c757d;
		font-size: medium;
		display: block;
	}

	/*gallery styles*/
	#gallery h1 {
		font: 10em OstrichSansBold;
		font-weight: normal;
		font-style: normal;
		text-transform: uppercase;
		color: rgba(123, 121, 143, .8);
		text-shadow: 0 -.1em .02em rgba(226, 100, 100, .6), 0 .1em .02em rgba(102, 151, 188, .6);
	}
	.intro {
		-moz-column-count: 2;
		-moz-column-gap: 1em;
		-webkit-column-count: 2;
		-webkit-column-gap: 1em;
		column-count: 2;
		column-gap: 1em;
		margin-bottom: 1em;
	}
	.photos {
		-moz-column-count: 2;
		-moz-column-gap: 1em;
		-webkit-column-count: 2;
		-webkit-column-gap: 1em;
		column-count: 2;
		column-gap: 1em;
		margin-bottom: 2em;
	}
	.photos img {
		width: 100%;
		margin-bottom: .5em;
	}
	/*aside styles*/
	aside {
		float: right;
		width: 19.1%;
		padding-right: 3.9%;
	}
	aside h2 {
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 1em;
		clear: both;
	}
	aside nav {
		margin-bottom: 2em;
	}
	aside nav a {
		display: block;
		padding-left: 16px;
		border: none;
		color: rgb(76, 67, 65);
		line-height: 2em;
		margin-bottom: 1px;
	}
	aside nav li {
		/* background: rgb(229, 224, 181); */
		background: rgb(3, 176, 176);
	}
	aside nav li:nth-child(even) {
		background: rgb(237, 228, 214);
	}
	aside nav a:hover {
		color: #fff;
		border: none;
		background: rgb(84, 81, 86);
	}
	nav select {
		display: none;
	}
	.contest img {
		display: block;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	.contest p {
		font-size: .9em;
		margin: 0 auto 1.5em;
	}
	/*footer styles*/
	#pageFooter {
		clear: both;
		overflow: hidden;
		height: 150px;
	}
	#pageFooter form {
		float: left;
		margin-left: 3.9%;
		display: inline;
	}
	.notice {
		width: 300px;
	}
	#pageFooter p {
		float: right;
		clear: right;
		margin-right: 3.9%;
		text-align: right;
	}
}

.variable {
	color: #12bb31;
}

.result {
	color: #cf8128;
}

@media (orientation:landscape) {
	body {
		width: 90%;
		margin: 10 auto;
		min-width: 1000px;
		max-width: 1200px;
		height: 100%;
	}
	#mainNav a.hamburger, #mainNav a.close {
		display: none;
	}
	#mainNav .active {
		color: rgb(3, 176, 176);
	}
	.banner h1 {
		color: rgb(241, 240, 240) !important;
		font-size: 1.5em;
		align-items: center;
	}
}
.content-container {
	margin-top: 8vh;
}

.archItem {
	font-size: 20px;
}