node_modules
.vscode 
/.vscode 
**.vscode 
.devcontainer
/node_modules
/.devcontainer
**.devcontainer
**node_modules
plan.md
/plan.md

.DS_Store
# dependencies
/node_modules
*/node_modules/*
/.pnp
.pnp.js
/.env
.env
*/.env
.env/*
**/.env
# testing
/coverage


# production
/build
.vscode
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
