
.loginPage-h1 {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Cantarell';
    font-weight: normal;
    padding: 15px 20px;
    background-color: rgb(1, 144, 180);
    box-shadow: 0px 3px 6px #42424299;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: solid 3px #fbb110;
}

.loginPage {
    background-color: #fffffff5;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
    box-shadow: 2px 5px 5px 3px rgba(9, 249, 249, 0.3);
    border-bottom: 5px solid #018fb4;
    border-radius: 10px 10px 0 0;
}
.inputRequirements {
  font-size: 15px;
  font-style: italic;
  text-align: left;
  list-style: disc;
  list-style-position: inside;
  max-width: 400px;
  margin: 10px auto;
  color: rgb(150,150,150);
}

.loginPage fieldset {
  padding: 0;
  border: 0;
}

.loginPage legend {
  padding: 0;
  font-weight: inherit;
}

.loginPage input, .loginPage textarea, .loginPage select, .loginPage button, .loginPage legend, .loginPage fieldset {
  box-sizing: border-box;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: rgb(40, 40, 40);
  vertical-align: top;
  display: block;
  margin: 10px auto 0;
  text-align: center;
}

.loginPage label {
  display: block;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  padding: 0 20px;
}

/* Input & Textarea ------------------ */

/* Fields with standard width */
.loginPage input[type="text"],
.loginPage input[type="email"],
.loginPage input[type="password"] {
  width: 100%;
  max-width: 400px;
  padding: calc( 40px / 5 );
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  margin: 0 auto 10px;
}

/* Fields with standard height */
.loginPage input[type="text"],
.loginPage input[type="email"],
.loginPage input[type="password"] {
  height: 40px;
  font-family: 'Cantarell';
  -webkit-appearance: none;
}

/* Buttons, Input Type Submit/Reset ------------------ */

.loginPage button,
.loginPage input[type="button"],
.loginPage input[type="submit"] {
 height:40px;
  width: 50%;
  font-family: 'Cantarell';
  font-size: 15px;
  cursor: pointer;
  max-width: 200px;
  background-color: rgb(250, 183, 15);
  cursor: pointer;
  color: rgb(40, 40, 40);
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
}

 .link a{
    text-decoration: none;
    font-weight: normal;
    display: block;
    margin:10px 5px;
    padding-left: 5px;
}
.link a:hover{
  border: 0px;
}
.bottom-container{
  margin: 10vh;
}
/* States ------------------ */

.loginPage input[disabled],.loginPage button[disabled] {
  cursor: not-allowed;
}

.loginPage input:focus, .loginPage button:focus  {
  background-color: rgb(250,250,250);
  border-color: #000;
}

.loginPage button:hover, .loginPage input[type="button"]:hover, .loginPage input[type="submit"]:hover,
.loginPage button:focus,.loginPage  input[type="button"]:focus, .loginPage input[type="submit"]:focus {
  background-color: rgb(255, 219, 58);
  color: rgb(40, 40, 40);
}


.inputRequirements li.invalid {
    color: #e77c3c;;
}

.inputRequirements li.valid {
    color: #76a53e;
}

.inputRequirements li.valid:after {
    display: inline-block;
    padding-left: 10px;
    content: "\2713";
}

.loginPage input:not([type="submit"]):valid {
  border-color: #79a743;
}

/* Hide and show related .inputRequirements when interacting with input */

.loginPage input:not([type="submit"]) + .inputRequirements {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-out;  
}

.loginPage input:not([type="submit"]):hover + .inputRequirements,
.loginPage input:not([type="submit"]):focus + .inputRequirements,
.loginPage input:not([type="submit"]):active + .inputRequirements {
  max-height: 1000px; /* any large number (bigger then the .inputRequirements list) */
  transition: max-height 1s ease-in;
}


