
 * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.success {
  background-color: #90ee90;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
  text-align: center;
}

.fail {
  background-color: #ffcccb;
  border-radius: 8px;
  margin-top: 5%;
  margin-left: 20% !important;
  padding: 20px;
  width: 60%;
  text-align: center;
}
.modalCloseIcon{
  cursor: pointer;
}
