
/*nav styles*/

.hamburger,
.close {
  font-size: 2rem;
  color: #00bff3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#mainNav{
	border-bottom: 2px solid #00bff3;
	border-top: 2px solid #00bff3;
	background-color: #eee;
	background-image: url("https://assets.codepen.io/296057/lil-graydots.png");
	padding: 1rem;
	position: absolute;
	/* a higher z-index put navbar above hamburger */
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	/* style the bar in one cell and the close button in the other */
	display: flex;
	justify-content: space-between;
	text-align: center;
  
	/* animate slide up/down */
	transform: translateY(-100%);
	transition: transform 0.2s ease;
  }
  #mainNav:target {
	transform: translateY(0);
  }
  #mainNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	/* styles the links in the navbar */
	display: flex;
	flex-flow: column wrap;
	width: 100%;
  }
  #mainNav a {
	color: #00bff3;
	text-decoration: none;
	font-weight: 500;
	display: block;
	padding: 0.5rem 1rem;
  }
  #mainNav a:focus {
	color: black;
  }
  #mainNav a:hover {
	background-color: #f0c808;
	color: #ff583d;
	background-image: url("https://assets.codepen.io/296057/lil-yellowdots.png");
  }
  .close:hover {
	background-image: none;
	background-color: transparent;
  }
 
#mainNav {
	overflow: hidden;
	margin: 0%;
	padding: 10px;
	background-image: url("../images/hb3.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* https://assets.codepen.io/296057/lil-graydots.png */

#mainNav li {
	float: left;
}

#mainNav a {
	text-transform: uppercase;
	display: block;
	color: rgb(76, 67, 65);
}

#mainNav a.current {
	color: rgb(16, 94, 149);
	cursor: default;
}

#mainNav .active {
	color: rgb(3, 176, 176);
}